/* src/App.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('https://c0.wallpaperflare.com/preview/408/856/993/analytics-background-book-business.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(240, 240, 240, 0.8); /* Add alpha value for transparency */
  color: #333;
}

.App {
  text-align: center;
}

header {
  background-color: rgba(40, 44, 52, 0.8); /* Transparent dark blue */
  padding: 20px;
  color: white;
}

h1 {
  margin: 0;
  font-size: 2em;
}

nav {
  background-color: rgba(15, 47, 56, 0.8); /* Transparent dark green */
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
}

nav li {
  margin: 0 15px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

nav li:hover {
  color: rgba(40, 44, 52, 1); /* Dark blue */
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(110, 110, 110, 0.8); /* Transparent gray */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

h2 {
  color: rgba(40, 44, 52, 1); /* Dark blue */
}

h3 {
  color: #333;
}

p {
  line-height: 1.6;
  color: #555;
}

section {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(233, 233, 233, 0.9); /* Slightly transparent light gray */
  transition: transform 0.3s ease;
}

section:hover {
  transform: scale(1.02);
}

section > div {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 8px;
}

footer {
  background-color: rgba(40, 44, 52, 0.8); /* Transparent dark blue */
  padding: 10px;
  color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  width: 100%;
}
